body{
	background-color:white;
	margin:20px;
}
.ciao{
	background-color:#3c5082;
	width:1000px;
	padding: 20px;
	height:30px;
	color:white;
	font-size:25px;
	font-family: Arial, Helvetica, sans-serif;

}
.imp{
	display:inline;
	font-weight:bold;
    font-family: ‘Comic Sans MS’, cursive;
}
.bottone{
	color:white;
	font-size:18px;
	display:inline;
	position:relative;
	bottom:7px;
}
.tabella{
	color:black;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
	position:relative;
}
.wrapper input{
	width:20px;
	opacity:0:
}
.itemscontainer {
    width: 95%;
    height: 68%;
    margin: 2.5%;
    margin-top: 1%;
    margin-top: lightgrey;
}